CompileFlags:
  CompilationDatabase: build
  Remove:
    - -mlongcalls
    - -fno-shrink-wrap
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
  Add:
    - -D__XTENSA__
    - -isystem
    - /Users/thinh/.espressif/tools/xtensa-esp-elf/esp-14.2.0_20251107/xtensa-esp-elf/lib/gcc/xtensa-esp-elf/14.2.0/include-fixed
    - -isystem
    - /Users/thinh/.espressif/tools/xtensa-esp-elf/esp-14.2.0_20251107/xtensa-esp-elf/xtensa-esp-elf/include
